@import "../../variables";

.card {
  width: 280px;
  height: 424px;
  margin: 0 auto 20px;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 346px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;


    &:nth-child(2n) {
      //margin-right: 0;
    }

    &:hover {
      .card_title {
        text-decoration: underline;
      }
    }
  }

  @media (min-width: $laptop) {
    //margin-right: 38px;
    margin-bottom: 40px;

    //&:nth-child(2n) {
    //  margin-right: 38px;
    //}
    //
    //&:nth-child(3n) {
    //  margin-right: 0;
    //}
    margin-left: 19px;
    margin-right: 19px;
  }
}

.card_image_box {
  width: 100%;
  max-height: 160px;
  overflow: hidden;
  margin-bottom: 16px;
}

.card_info {
  padding: 0 24px;
  height: auto;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 28px;
  }
}

.card_title {
  font-size: 24px;
  line-height: 32px;
  font-family: $fontMedium;
  font-weight: normal;
  margin-bottom: 16px;
  word-break: break-all;
  color: #000;
  text-decoration: none;
}

.card_text {
  font-family: $fontReg;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0,0,0, .6);
  width: 100%;
  word-break: break-all;
  text-decoration: none;

}

.card_image {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  width: auto;
}

.card_type {
  font-family: $fontReg;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background: #4FAE33;
  border-radius: 12px;
  padding: 8px;


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  position: absolute;
  left: 28px;
  bottom: 28px;
}

.card.big {
  padding-bottom: 0;

  & .card_title {
    color: #fff;
  }

  & .card_text {
    color: #fff;
  }

  @media (min-width: $tablet) {

  }

  & .card_image_box {
    margin: 0;
  }

  & .card_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  & .card_info {
    padding-top: 200px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 50;
    background: linear-gradient(0deg, rgba(72, 72, 94, 0.6), rgba(72, 72, 94, 0.6));
  }

  @media (min-width: $tablet) {

    & .card_info {
      padding-top: 290px;
    }
  }

  @media (min-width: $laptop) {
    width: 729px;
    //height: 392px;
  }
}
