@import "../../variables";

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: $tablet) {
    width: 720px;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media (min-width: $laptop) {
    width: 1114px;
    justify-content: flex-start;
  }
}
