@import "../../variables";

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto 30px;

  @media (min-width: $tablet) {
    width: 730px;
    justify-content: space-between;
  }

  @media (min-width: $laptop) {
    width: 1152px;
    display: flex;

    justify-content: flex-start;
    margin-bottom: 60px;
  }
}
