@import "../../variables";

.create_box {
  width: 100%;
  height: 300px;

  background: url("./img/bg.jpg") no-repeat center / cover;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 70px;
  }
}

.create_content {
  width: 280px;
  text-align: center;
}

.create_title {
  font-size: 40px;
  line-height: 48px;
  font-family: $fontBold;
  color: #fff;
  margin-bottom: 5px;
}

.create_text {
  font-size: 16px;
  line-height: 24px;
  font-family: $fontReg;
  color: #fff;
  margin-bottom: 20px;
}

.create_btn {
  width: 104px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  font-family: $fontReg;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 500;

  justify-content: center;
  align-items: center;
  flex-direction: row;

  &.active {
    display: flex;
  }
}

.form {
  width: 300px;
  background: #FFFFFF;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;

  padding: 20px;

  @media (min-width: $tablet) {
    padding: 32px 40px 40px 40px;
    width: 399px;
  }
}


.form_title {
  font-family: $fontMedium;
  font-size: 29px;
  line-height: 36px;
  color: #424242;
  margin-bottom: 10px;
  font-weight: normal;

  @media (min-width: $tablet) {
    margin-bottom: 31px;
    font-size: 32px;
    line-height: 38px;
  }
}

.form_drag_pole {
  width: 100%;
  height: 149px;
  background: #E4ECF1;
  border: 1px solid #DEE3E5;
  box-sizing: border-box;
  border-radius: 5px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;

  &.active {
    height: 198px;
  }
}

.input_file {
  display: none;
}

.form_icon {
  width: 44px;
  height: 44px;
  margin-bottom: 24px;
  pointer-events: none;
}

.form_info {
  font-size: 14px;
  line-height: 16px;
  font-family: $fontReg;
  color: #2B94E1;
  text-align: center;
  pointer-events: none;

  & span {
    display: none;
  }

  @media (min-width: $laptop) {
    & span {
      display: inline;
    }
  }
}

.input_label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  font-family: $fontReg;
}

.form_input {
  margin-bottom: 24px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #A6B0B3;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: $fontReg;
  padding: 9px 11px 11px;
}

.form_area {
  margin-bottom: 32px;
  width: 100%;
  height: 88px;
  background: #FFFFFF;
  border: 1px solid #A6B0B3;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: $fontReg;
  padding: 9px 11px 11px;
  resize: none;
}

.save_button {
  width: 74px;
  height: 42px;
  background: #4FAE33;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: $fontReg;
  margin: 0 auto;
}

.close_btn {
  width: 22px;
  height: 22px;

  cursor: pointer;
  background: url("./img/close.svg") no-repeat center;
  position: absolute;
  top: 9px;
  right: 8px;
}

.file_image {
  width: 100%;
}
